{% if is_paginated %}
<div class="container p-4">
  <div class="pagination justify-content-center">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">&laquo; first</a>
      <a
        class="btn btn-outline-info mb-4"
        href="?page={{ page_obj.previous_page_number }}"
        >previous</a
      >
      {% endif %}

      <span class="btn btn-outline-info mb-4">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
      <a
        class="btn btn-outline-info mb-4"
        href="?page={{ page_obj.next_page_number }}"
        >next</a
      >
      <a
        class="btn btn-outline-info mb-4"
        href="?page={{ page_obj.paginator.num_pages }}"
        >last &raquo;</a
      >
      {% endif %}
    </span>
  </div>
</div>
{% endif %}
